body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: "Abril Fatface", cursive;
}

header {
  font-family: "Abril Fatface", cursive;
  color: #ffffff;
}
.leftside,
.rightside {
  height: 100%;
  width: 100%;
}

.leftside {
  background: #bcbcd04a;

  background-size: cover;
}

.rightside {
  background: #bcbcd04a;

  background-size: cover;
}

.right-container {
  padding: 20px;
  width: 90%;
}

.right-container > h2 {
  text-align: center;
}

.main-section > h2 {
  text-align: center;
}

.right-side__ol {
  list-style-type: decimal-leading-zero;
}

#albumsTitle {
  margin-top: 3px;
}

#tracksTitle {
  margin-top: -16px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 50px) and (max-width: 650px) {
  #rapper {
    font-family: "Righteous", cursive;
    color: azure;
    position: absolute;
    top: 0px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  pre {
    white-space: pre-wrap;
  }

  ul {
    list-style-position: inside;
    text-align: center;
    margin-right: 45px;
  }

  h2 {
    text-align: center;
  }

  #searchDiv {
    text-align: center;
  }
  /* #wrapper{
        margin-top: 100px;
    } */

  #songList {
    margin-left: 5px;
  }

  #lyricDiv {
    margin-top: 60px;
  }
  body {
    display: grid;
    grid-gap: 1em;
  }
  #logo {
    display: grid;
    text-align: center;
  }
  #textBox {
    display: grid;
    text-align: center;
  }
  #moreInfoLink {
    display: grid;
    text-align: center;
  }
  #lyricDiv {
    display: grid;
    text-align: center;
    margin-top: 5px;
  }
}
